body{
	font-family: 'Open Sans', sans-serif;
	background: url(./../images/background.png) repeat;
	padding-right: 0!important;
}
.margin-left{
	margin-left: 15px;
}
.nav-wrapper{
	background: #fff;
	border-bottom: 5px solid #e43f3f;
}
.nav-wrapper ul{
	list-style: none;
	padding: 0;
	margin: 0 0 0 15px;
}
.nav-wrapper div img{
	margin: 10px 0;
}
.menu-size{
	height: 50px;
}
#user div div{
	display: inline-block;
}
#user ul{
	margin: 0;
}
.user-avatar img{
	width: 35px;
	border: 2px solid #e43f3f;
}
.menu-background{
	padding: 0;
	border: none;
	border-radius: 0;
	border-bottom: 3px solid #E43F3F;
	background: #d8d8d8;
}
.menu-box{
	top: 55px;
	list-style: none;
	margin-top: 5px;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	background: #d8d8d8;
	border: 0;
	border-bottom: 3px solid #e43f3f;
}
.menu-box li{
	margin-bottom: 3px;
	background: #fff;
}
.menu-box li:last-child{
	margin-bottom: 0;
}
.menu-box li a{
	padding: 0 90px 0 0;
}
.menu-box li a img{
	max-width: 100%;
	margin: 0;
}
.menu-background .menu-box{
	top: 0;
	margin: 0; 
	display: inline-block;
}
.menu-background #firstMenuBox{
	margin-bottom: 10px;
	border-bottom: 3px solid #e43f3f;
}
.menu-background .menu-box li{
	width: 350px;
	height: 90px;
}
.menu-background .menu-box li:first-child{
	height: 63px;
	padding: 5px 0 0 0;
	display: inline-block;
	background: #fff;
}
.menu-background .menu-box li:first-child:hover{
	background: #fff;
	color: #333;
}
.menu-background .menu-box li:first-child h6{
	width: 280px;
	padding: 0 0 0 30px; 
	display: inline-block;
	font-size: 14px;
}
.menu-background .menu-box li:hover {
	background: #e43f3f; 
}
.menu-background .menu-box li:hover a{
	color: #fff;
}
.menu-background .menu-box li a{
	padding: 0;
	display: inline-block;
	text-decoration: none;
	color: #333;
}
.menu-background .menu-box li a img{
	padding-right: 20px;
}
.menu-info-box{
	margin: 10px 0 0 -15px;
	padding: 0 4px;
	position: absolute;
	background: #000;
	border-radius: 5px;
	color: #fff;
	font-size: 10px;
}
.background-cover{
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
	top:0;
	left:0;
	position:absolute;
	z-index: 1500;
	display: none;
}
.modal-open{
	overflow-y: auto;
	padding-right: 0!important;
}
.coins-payment{
	top: 100px;
	background:rgba(0, 0, 0, 0.8);
	border-top: 5px solid #e43f3f;
	border-bottom: 3px solid #e43f3f;
	color: #fff;
}
.coins-payment-text{
	height: 150px;
	margin-top: 30px;
	padding: 10px;
	background: #e43f3f;
	text-align: left;
}
.coins-list{
	padding: 0;
}
.coins-list ul{
	padding: 0;
}
.coins-list ul li{
	width: 30%;
	padding-left: 1%;
	display: inline-block;
	float: left;
	cursor: pointer;
}
.coins-list ul li:nth-of-type(1), .coins-list ul li:nth-of-type(4){
	padding-left: 0;
}
.coins-list ul li p{
	height: 32px;
	margin: 0 0 5px 0;
	padding: 0;
	background: #e43f3f;
	border: 1px solid #e43f3f;
	font-weight: bold;
	text-align: center;
}
.coins-list ul li p:nth-of-type(even){
	padding-top: 5px;
	background: #1182f5;
	border: 1px solid #1182f5;
}
.coins-list ul li:hover p, .coins-list ul li.active p{
	background: #363636;
	border: 1px solid #fff;
}
.coins-list ul li p img{
	margin: 0;
}
.coins-payment button{
	margin-top: 10px;
	margin-bottom: 10px;
	background: none;
	border: none;
}
.have-alert span{
	background: #e43f3f;
}
#alert .menu-box{
	width: 280px;
	max-height: 500px;
	margin: 0 0 0 15px;
	padding: 0 10px 20px 10px;
	background: #fff;
	overflow-y: auto;
}
#alert .menu-box h6{
	padding: 0 0 5px 0;
	font-style: italic;
	border-bottom: 1px solid #d8d8d8;
}
#alert .menu-box ul li{
	margin: 0 0 5px 0;
	padding: 15px 10px 10px 10px;
	background: #e43f3f;
	border-radius: 40px;
	cursor: pointer;
}
#alert .menu-box ul li:hover{
	background: #363636;
}
#alert .menu-box ul li:hover img{
	opacity: 1;
}
#alert .menu-box ul li p{
	width: 170px;
	display: inline-block;
	color: #fff;
	font-style: italic;
}
#alert .menu-box ul li img{
	max-width: 100%;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	opacity: 0.5;
}
.pointer{
	cursor: pointer;
}
.login{
	height: 200px;
	background: #363636;
}
.login-text{
	width: 170px;
	height: 40px;
	background: #fff;
	margin: 85px auto 0 auto;
	padding-top: 5px;
	font-weight: bold;
	line-height: 2;
}
.login-text:hover{
	opacity: 0.5;
}
.covering-box{
	top: 100px;
}
.covering-box h2{
	height: 50px;
	margin: 0;
	padding-top: 18px;
	background: #fff;
	color: #333;
	font-weight: bold;
	font-size: 14px;
}
.covering-box h2 span{
	margin-left: 5px;
	font-style: italic;
	font-weight: normal;
}
.covering-box>div{
	margin-top: 5px;
	background: #fff;
	border-top: 5px solid #1182f5;
	border-bottom: 3px solid #1182f5;
}
.covering-box form{
	border-bottom: 1px solid #d8d8d8;
}
.covering-box form>div{
	margin: 20px 0;
}
.covering-box form div img{
	width: 50px;
	display: inline-block;
	float: left;
	background: #1182f5;
	vertical-align: top;
}
.covering-box form input{
	width: 85.9%;
	height: 50px;
	padding-left: 10px;
	display: inline-block;
	float: left;
	background: #363636;
	color: #fff;
	border: none;
}
.covering-box form input[type="checkbox"] {
	display:none;
}
.covering-box form input[type="checkbox"] + label span {
	width:15px;
	height:15px;
	margin: 0 0 -2px 0;
	display:inline-block;
	background:url(./../images/checkbox.png) left top no-repeat;
}
.covering-box form input[type="checkbox"]:checked + label span{
	background:url(./../images/checkbox-blue.png) left top no-repeat;
}
.covering-box form input[type="checkbox"]#acceptTerms + label span {
	float: right;
}
.covering-box form input[type="submit"]{
	width: 33.33%;
	margin-left: 15px;
	padding: 0 15px;
	font-weight: bold; 
}
.covering-box form input[type="submit"]:hover, .change-form-button:hover{
	background: #1182f5;
	color: #fff;
}
.covering-box form #forgotPassword{
	margin-right: 3%;
	float: right;
	background: none;
	border: none;
	color: #333;
	font-style: italic;
}
.covering-box form #forgotPassword:hover{
	color: #E43F3F; 
}
.covering-box form label{
	padding: 0;
	font-style: italic;
	font-weight: normal;
	cursor: pointer;
}
.covering-box form input[type="checkbox"]{
	width: auto;
	height: auto;
	cursor: pointer;
}
.change-form-button{
	height: 50px;
	margin-top: 10px;
	margin-bottom: 30px;
	background: #d8d8d8;
	border: none;
	font-weight: bold;
}
.register-wrapper form{
	padding-bottom: 20px;
}
.register-wrapper form>div{
	margin: 10px 0;
}
.register-wrapper form>div:nth-of-type(1){
	margin-top: 20px;
}
.register-wrapper form div span{
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
	background: #1182f5;
}
.register-wrapper form p{
	margin-top: 10px;
	font-weight: bold;
}
.register-wrapper form p input{
	padding-left: 50px;
	margin-top: 10px;
	cursor: pointer;
}
.friends{
	display: none;
	background: #fff;
	border-left: 1px solid #d8d8d8;
	padding: 73px 0 0 0;
}
.friends-search-wrapper ul li.active{
	background: #1182f5;
}
.friends-search-wrapper ul li:hover{
	background: #1182f5;
}
.friends-search-img{
	height: 30px;
	margin-top: 10px; 
	background: #000;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}
.friends-search-img img{
	width: 30px;
}
#friendSearch{
	width: 100%;
	padding: 1px 5px;
	font-style: italic;
	font-weight: lighter;
}
.friends-wrapper{
	height: 400px;
	overflow-y: scroll;
	background: #fff;
}
.friends-wrapper>div{
	border: none;
}
.friends-header{
	margin: 10px 0 0 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #d8d8d8;
	font-size: 12px;
	font-style: italic;
	cursor: pointer;
}
.friends-wrapper a{
	text-decoration: none;
	color: #333;
}
.friends-wrapper a h4:after {
    font-family: 'Glyphicons Halflings';
    font-size: 14px;  
    content: "\e114"; 
    float: right;        
    color: grey;  
}
.friends-wrapper a.collapsed h4:after {
    content: "\e080";   
}
.friends-header:hover{
	color: #E43F3F;
}
.friends-list{
	padding: 0;
	margin: 5px 0 10px 0;
	background: #fff;
}
#teamsList.friends-list{
	padding: 0;
}
#teamsList.friends-list li, #groupList.friends-list li{
	list-style: none;
}
#teamsList.friends-list li img{
	width: 25px;
}
.friends-list li{
	font-size: 12px;
	font-style: italic;
	margin: 5px 0 0 0;
	list-style-position: inside;
	list-style-image: url(./../images/list-bullet-black.png);
	cursor: pointer;
}
#groupList.friends-list li{
	padding-left: 5px;
}
#groupList.friends-list li a{
	color: #333;
	text-decoration: none;
}
.friends-list li:hover, #groupList.friends-list li:hover a{
	background: #d8d8d8;
	color: #fff;
}
.friends-list li img{
	width: 30px;
	margin-right: 5px;
}
li.friends-active{
	list-style-image: url(./../images/list-bullet-blue.png);
}
.friends-active img{
	border: 2px solid #1182f5;
}
.friends-list-buttons{
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.friends-list-buttons li{
	display: inline-block;
	margin-left: 10px; 
}
.friends-list-buttons li:hover{
	background: #fff;
}
.friends-list-buttons li img{
	width: 15px;
}
.friends-list-buttons li:hover img{
	transform: translateY(-5px);
}
.chat-row{
	float: right;
	position: fixed;
	z-index: 100;
	bottom: 0;
}
.chat-row-height{
	height: 325px;
}
.chat-right-buffer{
	right: 0;
}
.chat-right-buffer-clear{
	right: 20px;
}
.chat-window{
	width: 300px;
	padding: 0 15px;
	margin: 0 5px -8px 5px;
	display: inline-block;
	z-index: 5;
}
.chat-window-inner{
	width: 300px;
	padding: 0;
	background: #fff;
	border: 1px solid #d8d8d8;
}
.chat-top-bar{
	padding: 0;
	border-radius: 0;
}
.chat-top-bar a{
	text-decoration: none;
	color: #333;
}
.chat-top-bar a:hover{
	color: #E43F3F;
}
.chat-top-bar h3{
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
}
.chat-top-bar a:hover h3 span{
	color: #333;
}
.chat-top-bar h3 img{
	margin-top: -2px;
	margin-right: 5px;
}
.chat-top-bar span{
	margin-left: 5px;
	color: #363636;
	cursor: pointer;
}
.chat-top-bar span:hover{
	color: #d8d8d8;
}
.no-border{
	border: none; 
	box-shadow: none;
}
.chat-body{
	padding: 0;
	border-top: 1px solid #d8d8d8;
}
.chat-body ul{
	height: 200px;
	overflow-y: scroll;
	list-style: none;
}
.chat-body ul li .chat-message-wrapper{
	margin-bottom: 5px;
}
.chat-body ul li div{
	padding: 0;
}
.chat-body h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #d8d8d8;
}
.chat-body p{
	padding: 5px 0;
	margin: 0;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.left-chat-window{
	top: 0;
	left: 0;
	position: absolute;
}
.online-player{
	color: #1182f5;
}
.chat-body img{
	border: 3px solid #363636;
}
.chat-body .online-player img{
	border: 3px solid #1182f5;
}
p.chat-panel-message{
	margin: 0;
	padding: 12px 10px;
	background: #1182f5;
	border-radius: 15px;
	border-bottom: none;
}
.chat-body ul li div.chat-answer{
	float: right;
	padding-left: 5px;
}
.chat-footer{
	background: #fff;
	border: 0;
}
.new-message{
	height: 30px;
	padding: 5px 5px 30px 5px;
	border-top: 1px solid #d8d8d8;
}
.new-message input, .new-message label{
	padding-left: 10px;
	background: #fff;
	border: none;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
}
.new-message label span{
	cursor: pointer;
	color: #d8d8d8;
	position: absolute;
}
.chat-info{
	left: 0;
	bottom: 0;
	margin-left: -30px;
	position: absolute;
	display: none;
	cursor: pointer;
	z-index: 15;
}
.chat-info div{
	background: #fff;
	border: 1px solid #d8d8d8;
	color: #333;
}
.chat-info div:hover{
	background: #d8d8d8;
}
.chat-info div img{
	padding-right: 3px;
}
.chat-info ul{
	padding: 0;
	margin-bottom: 5px;
	list-style: none;
	background: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	display: none;
}
.chat-info ul li{
	padding: 3px 10px 3px 5px;
	border-radius: 5px;
}
.chat-info ul li:hover{
	background: #d8d8d8;
}
.dropup .dropdown-menu.chat-settings{
	min-width: 130px;
	margin: 0 0 0 -30px;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
}
.chat-settings li{
	height: 30px;
	text-align: center;
}
.chat-settings li:hover, .chat-settings li:hover a{
	background: #e43f3f;
}
.chat-settings li a{
	padding: 3px 0;
	font-weight: bold;
}
.dropup .dropdown-menu.team-dropup{
	min-width: 170px;
	max-height: 132px;
	margin: 0 0 0 -2px;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	overflow-y: auto; 
}
.team-dropup li a{
	padding: 3px 5px;
}
.team-dropup li a span{
	margin-top: 3px;
	float: right;
}
.team-dropup li:hover, .team-dropup li:hover a, .team-dropup li:hover a span{
	background: #000;
	color: #fff;
}
.team-dropup li a img{
	padding: 0 5px;
}
.groupmates{
	top: 100px;
	background: #fff;
	border-top: 5px solid #e43f3f;
	border-bottom: 3px solid #e43f3f;
	color: #333;
}
.groupmates h2{
	padding-bottom: 10px;
	border-bottom: 1px solid #d8d8d8;
	font-size: 22px;
	font-weight: bold; 
}
.groupmates ul{
	max-height: 200px;
	list-style: none;
	margin: 0 0 0 -5px;
	padding: 0 0 20px 0;
	overflow-y: auto;
}
.groupmates ul li{
	margin: 5px;
	display: inline-block;
}
.groupmates .chosen-groupmate{
	width: 120px;
	height: 120px;
	margin-top: -120px;
	position: relative;
	background: rgba(250, 250, 250, 0.5);
	opacity: 0;
}
.groupmates .chosen-groupmate span{
	margin: 40px 0 0 40px;
	color: rgba(228, 63, 63, 1);
	font-size: 40px;
}
.groupmates-box img{
	width: 120px;
    border: 3px solid #363636;
}
.groupmates-box p{
	width: 120px;
    margin-top: 3px;
    padding: 2px 0;
    background: #363636;
    font-size: 12px;
    font-style: italic;
    color: #fff;
}
.groupmates-box:hover p, .groupmates ul li.chosen .groupmates-box p{
	background: #E43F3F; 
}
.groupmates ul li a:hover div, .groupmates ul li.chosen a div{
	opacity: 1;
}

.groupmates ul::-webkit-scrollbar{
	width: 7px;
}
.groupmates ul::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
.groupmates ul::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #363636;
}
.groupmates input[type="text"]{
	margin-top: 20px;
	margin-bottom: 20px;
    border: 1px solid #d8d8d8;
    font-size: 22px;
}
.groupmates input[type="submit"]{
	margin: 20px auto;
	padding: 1px 10px;
    display: block;
	background: #e43f3f;
	border: none;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}
.groupmates input[type="submit"]:hover{
	background: #363636;
}
.social{
	height: 50px;
	border-top: 3px solid #e43f3f;
	border-bottom: 1px solid #d8d8d8;
}
.social-list-group{
	height: 27px;
}
.social-list{
	display: inline-block;
	position: absolute;
}
.social-list:nth-child(1){
	margin-left: 24%;
}
.social-list:nth-child(2){
	margin-left: 37%;
}
.social-list:nth-child(3){
	margin-left: 50%;
}
li.social-list img{
	margin: 5px 0 0;
}
.main{
	background: #fff;
	margin-top: 15px;
	margin-bottom: 50px;
	border-top: 3px solid #e43f3f;
	border-bottom: 3px solid #e43f3f;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.main-inner-wrapper{
	padding: 30px 20px;
}
.footer{
	background: #363636;
	border-top: 5px solid #e43f3f;
}
.footer a{
	text-decoration: none;
	color: #fff;
}
.footer a:hover{
	color: #d8d8d8;
}
.footer h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.footer ul{
	margin: 0;
}
.footer ul li{
	padding: 20px 10px 10px 10px; 
	display: inline-block;
	list-style: none;
	font-weight: bold;
}
.footer nav ul li:nth-child(1){
	margin: 0 0 0 -45px;
}
.footer ul li img{
	width: 100%;
	margin: -5px 0 0 0;
}
@media screen and (min-width: 480px){
	.menu-box{
		left: 45%;
	}
	.menu-background .menu-box{
		position: relative;
		left: 10%;
	}
	.coins-list ul li{
		width: 20%;
	}
	.coins-list ul li:nth-of-type(4){
		padding-left: 1%;
	}
	.covering-box form #forgotPassword{
		margin-right: 2%;
	}
@media screen and (min-width: 640px){
	.social-list:nth-child(1){
		margin-left: 40%;
	}
	.social-list:nth-child(2){
		margin-left: 45%;
	}
	.social-list:nth-child(3){
		margin-left: 50%;
	}
	.menu-background .menu-box{
		position: relative;
		left: 20%;
	}
	.covering-box form #forgotPassword{
	margin-right: 4%;
	}
	.covering-box form input{
		width: 90%;
	}
@media screen and (min-width: 768px){
	.footer nav ul li:nth-child(1){
		margin: 0;
	}
	.menu-background #firstMenuBox{
		margin-bottom: 0;
		border-bottom: none;
	}
	.menu-background .menu-box{
		position: relative;
		left: 0;
	}
	.groupmates{
		width: 650px;
	}
	.groupmates ul{
	max-height: 300px;
	}
@media screen and (min-width: 990px){
	.nav-wrapper{
		position: fixed;
		width: 100%;
		z-index: 500;
	}
	.menu-box{
		left: 0;
	}
	.background-cover{
		position: fixed;
	}
	#registerContainer{
		position: absolute;
	}
	.menu-background .menu-box{
		border-bottom: 0;
	}
	.menu-background #firstMenuBox{
		margin-left: 27.7%;
	}
	.menu-background{	
		width: 100%;
		top: 55px;
		left: 0;
		padding:0;
		margin:0;
		position: fixed;
	}
	#alert div .menu-box{
		width: 400px;
	}
	#alert div .menu-box ul li{
		margin: 0 0 5px 0;
		padding: 10px 10px 10px 20px;
		background: #e43f3f;
		border-radius: 60px;
	}
	#alert div .menu-box ul li p{
		width: 314px;
		display: inline-block;
		color: #fff;
		font-style: italic;
	}
	.login-wrapper, .register-wrapper{
		top: 100px;
	}
	.login{
		height: 255px;
		background: #363636;
	}
	.login-text{
		margin: 135px 0 0 15px;
	}
	.border-bottom:hover{
		box-shadow: 0 5px 0 #fff;
	}
	.menu-size{
		width: 60px;
		height: 50px;
	}
	.friends{
		right: 0;
		position: fixed;
		z-index: 100;
	}
	.friends-row{
		float: right;
	}
	#userSearch{
		width: 100%;
	}
	.social{
		margin-top: 0;
	}
	.social-list{
		position: relative;
	}
	.social-list:nth-child(1){
		margin-left: 0;
	}
	.social-list:nth-child(2){
		margin-left: 10px;
	}
	.social-list:nth-child(3){
		margin-left: 10px;
	}
	.chat-right-buffer{
		right: 27%;
	}
	.covering-box form #forgotPassword{
		margin-right: 15%;
	}
}
@media screen and (min-width: 1024px){
	.social{
		height: 50px;
	}
	li.social-list img{
		margin: 8px 0 0 0;
	}
	.menu-background #firstMenuBox{
		margin-left: 27.6%;
	}
	.covering-box form #forgotPassword{
	margin-right: 25px;
	}
}
@media screen and (min-width: 1200px){
	.chat-right-buffer{
		right: 18%;
	}
	.menu-background #firstMenuBox{
		margin-left: 27.25%;
	}
	#user{
		padding-left: 0;
		padding-top: 15px;
		text-align: left;
	}
	#user div{
		cursor: pointer;
	}
	#user div div{
		margin-top: -15px;
		float: left;
	}
	#coins, #alert{
		width: 5%;
		padding: 0;
	}
	#alert .menu-box{
		margin: 0;
	}
	.covering-box form input[type="checkbox"]#acceptTerms + label span {
		margin-right: -15px;
	}
}
@media screen and (min-width: 1280px){
	.login-text{
		margin: 135px 0 0 45px;
	}
	.menu-background #firstMenuBox{
		margin-left: 27.1%;
	}
}
@media screen and (min-width: 1360px){
	.menu-background #firstMenuBox{
		margin-left: 26.9%;
	}
}
@media screen and (min-width: 1600px){
	.menu-background #firstMenuBox{
		margin-left: 26.6%;
	}
}
@media screen and (min-width: 1680px){
	.menu-background #firstMenuBox{
		margin-left: 26.55%;
	}
}
@media screen and (min-width: 1920px){
	.menu-background #firstMenuBox{
		margin-left: 26.35%;
	}
}
@media screen and (min-height: 910px){
	#registerContainer{
		position: fixed;
	}
}
@-moz-document url-prefix() {
	.team-dropup li a span{
		margin-top: -17px;
	}
}