.game-payment-wrapper.covering-box>div{
	border-top: 5px solid #e43f3f;
	border-bottom: 3px solid #e43f3f;
}
.game-payment-wrapper.covering-box form input[type="submit"]:hover{
	background: #e43f3f;
}
.game-page form p{
	margin: 10px 0 0 15px;
	padding-left: 0;
	padding-bottom: 5px;
	font-style: italic;
}
.game-payment-wrapper form p{
	border-bottom: 1px solid #e43f3f;
}
.game-payment-wrapper form input[type="checkbox"] + label span{
	margin-left: 5px;
}
.game-page form>div{
	margin: 5px 0 0 0;
}
.game-page form label{
	margin-left: 5px;
	font-style: normal;
}
.game-page.covering-box form input[type="submit"]{
	margin: 30px 16px;
	float: right;
}
.covering-box.game-payment-wrapper form input[type="checkbox"]:checked + label span{
	background:url(./../images/checkbox-red.png) left top no-repeat;
}
.game-page form input[type="button"]{
	text-align: left;
	font-style: italic;
}
.game-page form .teams-to-choose{
	padding: 0 0 0 50px;
	list-style: none;
}
.game-page form div a img{
	width: 35px;
	margin: -42px 0 0 0;
	background: none;
	vertical-align: middle;
	float: right;
}
.game-page form .teams-to-choose li:nth-of-type(1) img{
	margin-top: -5px;
	float: right;
}
.game-page form .teams-to-choose{
	margin: 0;
	padding: 0 16px 0 15px;
	border: none;
	background: none;
	box-shadow: none;
}
.game-page form .teams-to-choose li{
	width: 100%;
	height: 50px;
	padding: 15px 0 0 0;
	background: #363636;
	color: #fff;
	font-style: italic;
	cursor: pointer;
}
.game-page form .teams-to-choose li:nth-of-type(1){
	display: block;
}
.game-page form .teams-to-choose li:hover, .game-page form input[type="button"]:hover{
	background: #1182f5;
}
.game-page form .teams-to-choose li input{
	visibility: hidden;
	position: absolute;
}
.game-page form div.disabled{
	opacity: 0.5;
}
.game-page form div.disabled input[type="button"]:hover{
	background: #363636;
}
.game-page form div.disabled a, .game-page form div.disabled a input{
	cursor: default;
}
.create-game-id-wrapper, .choose-team-wrapper, .check-players-wrapper, .game-payment-wrapper{
	top: 430px;
}
.check-players-wrapper div form p{
	border-bottom: 1px solid #1182f5;
}
.check-players-wrapper div form input[type="checkbox"] + label span{
	margin: 3px 5px 0 0;
	float: left;
}
.check-players-wrapper div form input[type="checkbox"] + label:hover, .game-payment-wrapper form label:hover{
	color: #e43f3f;
}
.top-row{
	margin: -10px 0 0 0; 
}
.top-row ul{
	padding: 0;
}
.top-row ul li{
	height: 50px;
	padding-left: 0;
	margin-bottom: 10px;
	list-style: none;
	border-left: 3px solid #1182f5;
	cursor: pointer;
}
.top-row ul li.checked:hover{
	color: #1182f5;
}
.top-row ul li.red-border{
	border-left: 3px solid #e43f3f;
}
.top-row ul li p{
	height: 100%;
	padding: 15px 0 0 5px;
	font-size: 12px;
	font-weight: bold;
	background: #f4f4f4;
}
.top-row ul li.locked p{
	background: #929292;
}
.top-row ul li p span{
	font-style: italic;
	font-weight: normal;
}
.top-row ul li p img{
	margin: -3px 0 0 0;
	padding: 0 0 0 5px;
}
.middle-row-games{
	margin: 40px 0;
}
.middle-row-games p{
	height: 56px;
	padding-top: 12px;
	display: inline-block;
	background: #363636;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	border: 3px solid #fff;
	box-shadow: 0 0 0 6px #363636;
	cursor: pointer;
}
.middle-row-games .middle-info{
	background: #fff;
	box-shadow: none;
	cursor: default;
}
.games-menu img, .games-menu a img{
	width: 78px;
	height: 78px;
	margin: 0 0 7px 0;
	background: #e43f3f;
}
.games-menu a:hover img{
	background: #363636;
}
.games-menu img{
	height: 30px;
	background: #363636;
}
.games-menu .active img{
	background: #363636;
}
.match-info{
	padding: 0;
	background: #363636;
	margin-bottom: 7px;
}
.match-info p{
	height: 30px;
	margin: 0;
	padding-top: 6px;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.bottom-inner-wrapper{
	padding: 20px 0 10px 0;
}
.left-buffer{
	margin-left: 15px;
}
.game-box-wrapper p{
	font-style: italic;
	font-size: 12px;
	margin: 0 0 15px 0;
}
.game-box-wrapper p img{
	width: 20px;
}
.game-box-bar{
	width: 120px;
	height: 3px;
	margin-bottom: 12px;
	background: #d8d8d8;
}
.game-box-bar .box-bar-cover{
	background: #e43f3f;
}
.game-box-bar .badge{
	position: absolute;
	margin-left: 42px;
    margin-top: -9px;
    display: block;
    background: #363636;
    opacity: 0;
}
.game-img{
	width: 120px;
	border: 3px solid #363636;
}
.game-box:hover .game-img, .players-wrapper div div:hover .game-img{
	opacity: 0.5;
}
.game-box:hover p, .players-wrapper div div:hover p{
	background: #e43f3f;
}
.game-box:hover .badge{
	opacity: 1;
}
.players-wrapper div, .game-box{
	cursor: pointer;
}
.game-box p{
	width: 120px;
	background: #363636;
	padding: 2px 0;
	margin: 2px 0 0 0;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}
.versus{
	padding-left: 150px;
}
.versus span{
	padding: 0 10px 2px 10px;
	border-radius: 12px;
	background: #E43F3F;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.result p{
	height: 30px;
	margin-bottom: 5px;
	padding-left: 0;
	font-size: 12px;
	font-style: italic;
}
.result p:nth-of-type(2){
	padding-top: 10px;
}
.result label input, .result li input{
	visibility: hidden;
	position: absolute;
}
.ratings-wrapper input:hover, .result-wrapper ul li:hover, .ratings label img:hover{
	background: #363636;
}
.result li img{
	margin-left: -2.5px;
}
.result input{
	width: 30px;
	height: 30px;
	background: #e43f3f;
	font-weight: bold;
	border: none;
}
.result-wrapper ul{
	margin: 0;
	padding: 0;	
	display: inline-block;
}
.result-wrapper ul li{
	width: 30px;
	height: 30px;
	padding-top: 5px;
	background: #e43f3f;
	font-weight: bold;
	color: #fff;
	list-style: none;
	cursor: pointer;
}
.result-wrapper li:nth-of-type(1){
	padding-top: 0;
	margin-top: 0;
	display: inline-block;
}
.result-wrapper li{
	margin-top: 10px;
	display: none;
}
.right-input{
	height: 30px;
	padding-left: 83px;
	padding-right: 0;
}
.left-input{
	height: 30px;
	margin-left: 0;
	padding-left: 0;
}
.ratings{
	height: 30px;
	width: 107px;
	margin: 10px 0;
}
.ratings div{
	display: inline-block;
}	
.ratings label img{
	width: 30px;
	height: 30px;
	position: relative;
	margin-left: 0;
	background: #e43f3f;
	cursor: pointer;
}
.ratings-wrapper input{
	width: 101px;
	height: 30px;
	padding-left: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	background: #e43f3f;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}
.ratings-wrapper{
	padding: 0;
}
.report-match-wrapper{
	top: 1200px;
	padding: 20px 30px 300px 30px;
	background: rgba(0, 0, 0, 0.8);
	border-top: 3px solid #e43f3f;
	border-bottom: 3px solid #e43f3f;
}
.report-match-wrapper .topic-wrapper .text-holder{
	margin: 111px 0px 0px;
}
.report-match-wrapper .topic-wrapper .text-holder textarea{
	background: none;
	color: #fff;
	border: 1px solid #fff;
}
.report-match-wrapper .topic-wrapper ul{
	margin: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
}
.report-match-wrapper .topic-wrapper ul:hover{
	margin: 0;
}
.report-match-wrapper button{
	height: 35px;
	margin-top: 66px;
	float: right;
	border: none;
	background: #e43f3f;
	color: #fff;
	font-style: italic;
}
.report-match-wrapper button:hover{
	background: #363636;
}
.report-match-wrapper .support-text-box{
	padding: 15px;
}
.report input{
	width: 101px;
	height: 30px;
	float: right;
	background: #363636;
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
}
.players-wrapper div p{
	width: 120px;
	margin-top: 3px;
	padding: 2px 0; 
	background: #363636;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.game-chat{
	float: right;
	padding: 0;
}
.game-chat-inner-wrapper{
	display: none;
}
.game-chat-inner{
	height: 500px;
	overflow-y: scroll;  
}
.game-chat-inner ul{
	list-style: none;
	padding: 0;
}
.match-info.game-chat{
	margin-left: 0;
	background: none;
}
.match-info.game-chat p{
	margin: 0 15px;
	background: #363636;
}
.game-chat h5{
	height: 32px;
	margin: 0;
	padding: 10px 5px;
	background: #363636;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.game-chat h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #d8d8d8;
}
.game-chat p{
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px solid #d8d8d8;
	font-size: 12px;
	font-style: italic;
}
.game-chat p a{
	text-decoration: none;
	color: #1182f5;
}
.game-chat p a:hover{
	color: #e43f3f;
}
.game-chat span{
	padding-top: 20px;
	padding-left: 10px;
}
.game-chat p img{
	width: 39px;
	margin: 0 5px 0 0;
	border: 2px solid #363636; 
}
.online-player{
	color: #1182f5;
}
.online-player span{
	color: #333;
}
.game-chat .online-player img{
	border: 2px solid #1182f5;
}
p.chat-message{
	margin: 5px 0;
	padding: 15px 10px;
	background: #f4f4f4;
	border-radius: 15px;
	border-bottom: none;
}
.new-message{
	padding-top: 10px
}
.new-message input{
	height: 30px;
	margin-top: 5px;
	background: #e43f3f;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #fff;
	float: right;
}
.new-message input:hover{
	background: #363636;
}
.new-message textarea{
	height: 100px;
	padding: 0 5px;
	resize: none;
}
.right-banner{
	margin-top: 20px; 
}
@media screen and (min-width: 480px){
	.ratings{
		width: auto;
	}
	.ratings-wrapper input{
		width: 97%;
	}
	.left-input{
		margin-left: 8px;
		padding-left: 7px;
	}
	.right-input{
		padding-left: 42px;
	}
}
@media screen and (min-width: 640px){
	.right-input{
		padding-left: 65px;
	}
	.ratings{
		width: 155px;
	}
	.report input{
		width: 138px;
	}
}
@media screen and (min-width: 768px){
	.top-row ul li{
		margin-bottom: 0;
	}
	.games-menu{
		padding: 0;
		margin-left: 15px;
	}
	.games-menu a img{
		width: 59px;
		height: auto;
	}
	.match-info{
		margin-left: 7px;
	}
	.games-menu img{
		width: 59px;
    	height: auto;
    	padding: 4px 0;
	}
	.bottom-main-games{
		margin-left: 7px;
		border-left: 1px solid #d8d8d8;
		border-right: 1px solid #d8d8d8; 
	}
	.game-levels-wrapper{
		margin: 0;
	}
	.game-chat{
		width: 29.333333%;
	}
	.versus{
		padding-top: 60px;
		padding-left: 8px;
	}
	.ratings-wrapper{
		margin-left: 29px;
	}
	.ratings-wrapper input{
		width: 98%;
	}
	.left-input{
		margin-left: 4px;
	}
	.right-input{
		padding-left: 10px;
	}
	.ratings{
		width: auto;
	}
	.report{
		margin-top: -40px
	}
	.report input{
		width: 95px;
	}
	.match-info.game-chat{
		margin-top: -37px; 
	}
	.match-info.game-chat p{
		height: auto;
	}
	.report-match-wrapper{
		top: 700px;
	}
	.report-match-wrapper button{
		margin-top: 0;
	}
}
@media screen and (min-width: 990px){
	.ratings-wrapper input{
		width: 90.5%;
	}
	.left-input{
		margin-left: -28px;
	}
	.right-input{
		padding-left: 42px;
	}
	.ratings-wrapper{
		margin-left: 2px;
	}
	.versus{
		padding-left: 57px;
	}
	.report input{
		width: 125px;
	}
	.match-info.game-chat p{
		height: 30px;
	}
	.games-menu a img{
		width: 78px;
	}
	.games-menu img{
		width: 78px;
    	height: auto;
    	padding: 0;
	}
	.create-game-id-wrapper, .choose-team-wrapper, .check-players-wrapper, .game-payment-wrapper{
		top: 100px;
	}
	.report-match-wrapper{
	top: 0;
	}
}
@media screen and (min-width: 1024px){
	.games-menu img{
		margin-left: 0;
	}
}
@media screen and (min-width: 1200px){
	.player-box-bar{
		margin-left: 16px;  
	}
	.player-box p{
		margin: 7px 0 7px 16px;
	}
	.player-likes{
		margin: 7px 0 0 16px;
	}
	.player-name-box{
		margin: -10px 0 0 -20px;
		padding: 0;
	}
	.player-icon-wrapper{
		margin-left: 15px; 
	}
	.game-box-wrapper p img{
		float: right;
		margin: 0 30px 0 0;
	}
	.game-chat{
		width: 31.333333%;
	}
	.bottom-main-games{
		padding: 0 50px;
	}
	.ratings-wrapper input{
		width: 88%;
	}
	.left-input{
		margin-left: -40px;
	}
	.right-input{
		padding-left: 54px;
	}
	.ratings-wrapper{
		margin-left: -2px;
	}
	.players-wrapper:nth-of-type(even){
		padding-right: 0;
		padding-left: 15px;
	}
	.players-wrapper:nth-of-type(even) div{
		padding-right: 0;
	}
	.players-wrapper:nth-of-type(even) div div, .players-wrapper:nth-of-type(even) .game-img, .players-wrapper:nth-of-type(even) p{
		float: right;
	}
	.players-wrapper{
		padding-left: 0;
	}
	.players-wrapper div{
		padding-left: 0;
	}
	.versus{
		padding-left: 55px;
	}
}