.main-inner-wrapper{
	padding: 30px 20px 0 20px;
}
.top-row{
	width: 100%;
	margin: 0;
	background-image: url(./../images/top-background.jpg);
	background-size: cover;
}
.top-row a:hover img{
	transform: translateY(-5px);
}
.top-row a{
	padding: 7px 0 0 0;
	vertical-align: middle;
	background: #e43f3f;
}
.bottom-align{
	padding: 7px 0 0 0;
	vertical-align: middle;
	background: #e43f3f;
	color: #fff;
}
.top-row-social a{
	width: 35px;
	margin-right: 5px;
	text-decoration: none;
	color: #fff;
}
.top-row-social div img{
	margin: -7px 0 0 0;
	float: left;
}
.top-row-social{
	margin-bottom: 5px;
}
.player-box-bar{
	width: 120px;
	height: 3px;
	margin-top: -11px;
	margin-bottom: 8px;
	background: #d8d8d8;
}
.box-bar-cover{
	background: #1182f5;
}
.progress .badge{
	position: absolute;
    margin-left: -20px;
    margin-top: -9px;
    padding: 3px 7px;
    border-radius: 10px;
    background: #363636;
    opacity: 0;
}
.latest-matches-box:hover .badge{
	opacity: 1;
}
.player-box .player-avatar-box{
	width: 120px;
	background: #fff;
}
.player-avatar-box>img{
	width: 120px;
	border: 3px solid #1182f5;
}
.player-avatar-box:hover>img{
	opacity: 0.5;
}
.player-avatar-box:hover a, .player-avatar-box:hover a img{
	opacity: 1;
}
a.player-edit{
	margin: 0 0 0 85px;
	position: absolute;
	opacity: 0;
	background: #1182f5;
	z-index: 2;
}
.player-icon-wrapper{
	width: 130px;
	padding: 0;
	margin-left: -1px; 
}
.player-icon{
	width: 40.5px;
	margin: 0 1px;
	padding: 0;
}
.player-icon a{
	width: 35px;
	height: 35px;
	padding: 0;
	background: #e43f3f;
}
.player-box p{
	width: 120px;
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background: #1182f5;
	margin: 7px 0 7px 0;
}
.player-likes{
	width: 120px;
	margin: 7px 0 0 0;
	background: #e43f3f;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.player-likes img{
	margin-top: -5px; 
}
.player-name-box{
	margin: 0;
	color: #fff;
}
.player-name-box h2{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0; 
}
.player-name-box p{
	font-size: 12px;
}
.middle-row{
	margin: 7px 0;
	background: #363636;
	color: #fff;
}
.middle-row p{
	padding: 5px 0 0 5px;
}
.profile-menu a img{ 
	width: 78px;
    margin: 0 0 7px 0;
    background: #e43f3f;
}
.profile-menu a:hover img{
	background: #363636;
}
a.active img{ 
    background: #363636;
}
.bottom-inner-wrapper{
	padding: 20px
}
.profile-description{
	font-style: italic;
	color: #fff;
	background: #363636;
	border-left: 3px solid #e43f3f;
	padding: 20px 30px;
}
.profile-achievements{
	padding: 20px 0; 
}
.profile-achievements-header{
	font-style: italic;
	border-bottom: 1px solid #d8d8d8;
}
.upcoming-matches{
	font-size: 12px;
	font-style: italic;
	list-style: none;
	padding: 0;
}
.upcoming-matches li{
	padding: 0 0 10px 0;
	cursor: pointer;
}
.upcoming-matches li:hover{
	color: #e43f3f;
}
.upcoming-matches img{
	width: 20px;
}
.latest-matches-box-wrapper{
	padding-bottom: 25px;
	padding-left: 0;
}
.latest-matches-box-wrapper p{
	font-style: italic;
	font-size: 12px;
	margin: 5px 0 25px 0;
	cursor: pointer;
}
.latest-matches-box-wrapper p:hover{
	color: #e43f3f; 
}
.latest-matches-box-wrapper span{
	margin: 140px 0 0 130px;
	padding: 0 10px 2px 10px;
	position: absolute;
	background: #e43f3f;
	color: #fff;
	border: 1px solid #fff;
	font-weight: bold; 
	border-radius: 12px;
	z-index: 5;
}
.latest-matches-box-wrapper p img{
	width: 20px;
}
.latest-matches-box{
	margin: 0 23px 15px 0;
	padding: 0;
	display: inline-block;
	cursor: pointer;
}
.latest-matches-box:hover p{
	background: #E43F3F;
}
.latest-matches-box:hover img{
	opacity: 0.5
}
.latest-matches-box-bar{
	width: 120px;
	height: 3px;
	margin-bottom: 9px;
	background: #d8d8d8;
}
.latest-matches-box-bar .box-bar-cover{
	background: #363636;
	float: left;
}
div.progress.latest-matches-box-bar span{
	margin-left: 40px;
}
.latest-matches-img{
	width: 120px;
	border: 3px solid #363636;
}
.latest-matches-box p{
	width: 120px;
	background: #363636;
	padding: 0;
	margin: 2px 0 0 0;
	color: #fff;
	font-weight: normal;
}
.latest-matches-box p:hover{
	color: #fff;
}
.img-cover-box{
	width: 32px;
	height: 32px;
	margin: 0 0 0 88px;
	padding: 6px 0 0 12px;
	background: #363636;
	position: absolute;
	z-index: 2;
	color: #fff;
	font-weight: bold;
}
.winner .box-bar-cover{
	background: #e43f3f;
}
.winner .latest-matches-img{
	border: 3px solid #e43f3f;
}
.winner .img-cover-box{
	background: #e43f3f;
}
.featured-teams{
	padding-left: 0;
}
.featured-teams div{
	width: 120px;
	cursor: pointer;
}
.featured-teams div:hover p{
	background: #E43F3F;
}
.featured-teams div:hover img{
	opacity: 0.5
}
.featured-teams h6{
	width: 120px;
	font-style: italic;
	font-size: 12px; 
}
.featured-teams p{
	width: 120px;
	font-style: italic;
	font-size: 12px;
	color: #fff;
	background: #363636;
	margin: 2px 0 10px 0;
}
.featured-teams img{
	width: 120px;
	border: 3px solid #E43F3F;
}
.game-levels-wrapper{
	padding: 0px;
	margin: 0 0 30px 0;
}
.game-levels{
	width: 75%;
	height: 35px;
	margin-bottom: 0;
	background: #363636;
	border: none;
	border-radius: 0; 
	display: inline-block;
}
.game-levels p{
	margin: 7px 0 0 33%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #fff;
	position: absolute;
}
.game-levels-wrapper img{
	vertical-align: top;
	margin: 0 -4px 0 0;
}
.progressbar-cover{
	background: #e43f3f;
}
.level{
	margin: 7px 0 0 5px;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	vertical-align: top;
	display: inline-block;
}
.profile-views{
	float: right;
	padding: 0;
}
.profile-views h5{
	height: 32px;
	margin: 0;
	padding: 10px 5px;
	background: #363636;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.profile-views p{
	padding: 5px 0;
	margin: 0;
	border-bottom: 1px solid #d8d8d8;
	font-size: 12px;
	font-style: italic;
}
.profile-views p:hover{
	background: #d8d8d8;
}
.profile-views a{
	text-decoration: none;
	color: #333;
}
.profile-views p:hover{
	color: #e43f3f;
}
.profile-views p span{
	float: right;
	padding: 10px 5px 0 0; 
}
.profile-views p img{
	width: 39px;
	margin: 0 5px 0 0;
	border: 2px solid #363636; 
}
.profile-views .online{
	color: #1182f5;
}
.profile-views p.online span, .profile-views p span{
	color: #333;
}
.profile-views .online img{
	border: 2px solid #1182f5;
}
@media screen and (min-width: 768px){
	.player-name-box{
		padding-left: 35px;
	}
	.middle-row{
		height: 30px;
	}
	.middle-row p{
		display: inline-block;
		margin: 0 0 0 40px;
		font-style: italic;
		font-weight: 12px;
	}
	.middle-row p:nth-of-type(1){
		margin-left: 80px;
	}
	.profile-menu{
		padding: 0;
		margin-left: 15px;
	}
	.profile-menu a img{
		width: 59px;
		height: auto;
	}
	.bottom-main{
		margin-left: 7px;
		border-left: 1px solid #d8d8d8;
		border-right: 1px solid #d8d8d8; 
	}
	.latest-matches-box-wrapper span{
		margin: 60px 0 0 128px;
	}
	.game-levels-wrapper{
		margin: 0;
	}
	.profile-views{
		width: 29.333333%;
	}
}
@media screen and (min-width: 990px){
	.top-row{
		height: 300px;
	}
	.player-name-box{
		margin: -10px 0 0 0;
		padding-left: 0;
	}
	.profile-menu a img{
		width: 78px;
	}
	.latest-matches-box-wrapper span{
		margin: 60px 0 0 134px;
	}
}
@media screen and (min-width: 1024px){
	.profile-menu img{
		margin-left: 0;
	}
}
@media screen and (min-width: 1200px){
	.player-box-bar{
		margin-left: 16px;  
	}
	.player-box .player-avatar-box{
		margin-left: 16px;
	}
	.player-box p{
		margin: 7px 0 7px 16px;
	}
	.player-likes{
		margin: 7px 0 0 16px;
	}
	.player-name-box{
		margin: -10px 0 0 -20px;
		padding: 0;
	}
	.player-icon-wrapper{
		margin-left: 15px; 
	}
	.latest-matches-box-wrapper p img{
		float: right;
		margin: 0 30px 0 0;
	}
	.profile-views{
		width: 31.333333%;
	}
	.profile-menu {
	    margin-left: 7px;
	}
	.profile-menu a img{
		margin: 0 0 7px 0;
	}
	.latest-matches-box-wrapper:nth-of-type(even){
		padding-left: 15px;
		padding-right: 0;
		float: right;
	}
	.latest-matches-box-wrapper:nth-of-type(even) div p{
		float: right;
	}
	.latest-matches-box-wrapper:nth-of-type(even) p{
		margin-left: 30px;
	}
	.latest-matches-box-wrapper:nth-of-type(even) p img{
		margin: 0 0 0 30px;
	}
	.latest-matches-box-wrapper:nth-of-type(even) .latest-matches-box, .latest-matches-box-wrapper:nth-of-type(even) .latest-matches-box div{
		float: right;
	}
	.latest-matches-box-wrapper:nth-of-type(even) .latest-matches-box:nth-of-type(odd){
		margin-right: 0;
	}
	.latest-matches-box-wrapper:nth-of-type(even) .latest-matches-box .box-bar-cover{
		float: left;
	}
	.latest-matches-box-wrapper span{
		margin: 60px 0 0 114px;
	}
	.latest-matches-box-wrapper:nth-of-type(even) span{
		margin: 63px 0 0 144px;
	}
	div.progress.latest-matches-box-bar span{
		margin: -9px 0 0 40px;
	}
	.bottom-align{
		margin: 265px 0 0 0;
		position: absolute;
	}
	.top-row-social{
		margin-left: 5px;
		margin-bottom: 0;
	}
}
@-moz-document url-prefix() {
	.progress .badge{
		margin-left: -61px;
	}
	div.progress.latest-matches-box-bar span{
		margin-left: -43px;
		left: auto;
	}
	.latest-matches-box-wrapper span{
			margin-left: 145px;
			left: 0;
		}
	@media screen and (min-width: 768px){
		.latest-matches-box-wrapper span{
			margin-left: -223px;
			left: auto;
		}
	}
	@media screen and (min-width: 990px){
		.latest-matches-box-wrapper span{
			margin-left: -241px;
		}
	}
	@media screen and (min-width: 1200px){
		.latest-matches-box-wrapper span{
			margin-left: -181px;
		}
	}
}