.team-inner-wrapper{
	width: 245px;
	margin-left: -14px;
	padding: 0 0 10px 0;
}
.team-main{
	padding: 0;
}
.team-box{
	width: 100%;
}
.team-box>div{
	width: 120px;
	margin-bottom: 20px;
	cursor: pointer;
}
.team-box img{
	width: 120px;
    border: 3px solid #363636;
}
.team-box div:hover img{
	opacity: 0.5;
}
.team-box div:hover p{
	background: #E43F3F;
}
.team-box>div:hover .badge{
	opacity: 1;
}
.team-box p{
	width: 120px;
    margin-top: 3px;
    padding: 2px 0;
    background: #363636;
    font-size: 12px;
    font-style: italic;
    color: #fff;
}
.team-box-bar{
	width: 120px;
	height: 3px;
	margin-bottom: 12px;
	background: #d8d8d8;
}
.team-box-bar .box-bar-cover{
	background: #363636;
}
.team-box-bar .badge{
	position: absolute;
	margin-left: 42px;
    margin-top: -9px;
    display: block;
    background: #363636;
    opacity: 0;
}
.friends-info{
	margin-bottom: 7px;
	padding-right: 40px;
}
.friends-info p{
	height: 30px;
	margin: 0;
	padding-top: 6px;
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 5px;
	font-size: 12px;
	font-style: italic;
}
@media screen and (min-width: 480px){
	.team-inner-wrapper{
		width: auto;
	}
	.team-box{
		width: auto;
	}
}
@media screen and (min-width: 768px){
	.team-inner-wrapper{
		margin-left: 0;
	}
}
@media screen and (min-width: 1200px){
	.friends-info{
		margin-left: 15px;
	}
	.team-main{
		margin-left: 15px;
	}
}