.team-inner-wrapper{
	width: 245px;
	margin-left: -14px;
	padding: 0 0 10px 0;
}
.team-main{
	padding: 0;
}
.team-box{
	width: 100%;
}
.team-box div{
	width: 120px;
	cursor: pointer;
}
.team-box img{
	width: 120px;
    border: 3px solid #363636;
}
.team-box div:hover img{
	opacity: 0.5;
}
.team-box div:hover p{
	background: #E43F3F;
}
.team-box p{
	width: 120px;
    margin-top: 3px;
    padding: 2px 0;
    background: #363636;
    font-size: 12px;
    font-style: italic;
    color: #fff;
}
.friends-info{
	margin-bottom: 7px;
}
.friends-info p{
	height: 30px;
	margin: 0;
	padding-top: 6px;
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 5px;
	font-size: 12px;
	font-style: italic;
}
@media screen and (min-width: 480px){
	.team-inner-wrapper{
		width: auto;
	}
	.team-box{
		width: auto;
	}
}
@media screen and (min-width: 768px){
	.team-inner-wrapper{
		margin-left: 0;
	}
}